/* Normalise css */
html,body{
    margin:0;
    padding:0;
    font-family:  Helvetica,Arial , sans-serif;
    background-color: black;
}

.container{
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
    
}

/* Header */
header{
    background-color:transparent;
    
}
.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.left-cont,.right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-brand{
    max-width: 100px;
    margin-left: 20px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}

.nav-item{
    /* color: white;   */
    margin-right: 22px; 
    color: #e5e5e5;
    opacity: .83;     
}

.nav-item.active{
    color:white;
    opacity: 1;
    font-weight: 500;
}

.right-cont svg, .right-cont img{
    margin-right: 22px;
    cursor: pointer;
}
.right-cont svg{
    color: white;
}
.right-cont img{
    max-width: 40px;
    margin-left: 10px;
}




/* RESPONSIVE CSS */

@media screen and (max-width: 768px){
    .main-nav{
        display: none;
    }
    .right-cont{
        margin-right: 20px;
    }
}   